@font-face {
    font-family: 'Roboto', sans-serif;
}
.article {
  display: block;
}
.content-title {
    font-size: 45px;
    font-family: 'Roboto';
    font-weight: 300;
    margin: 0px;
    color: rgba(0, 0, 0, 0.77);
    margin-top: -6px;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -.5px;
    max-width: 600px;
    margin: 0 auto;
}
.stepper-container-text {
    font-size: 14px;
    font-weight: 300;
    color: #222;
    /* color: black; */
    line-height: 20px;
    margin-bottom: 13px;
    margin-top: 6px;
    font-family: 'Roboto';
      max-width: 500px;
    margin: 0 auto;

}
.wrapper {
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}

.head {

}
.headline {
	    max-width: 600px;
    margin: 0 auto;

}

h1 {
	font-family: 'Helvetica Neue';
	font-weight: bold;
	font-size: 40px;
	text-align: center;

}

h2 {
	font-family: 'Helvetica Neue';
	color: grey;
	font-size: 20px;
	text-align: center;

}

h3 {
	text-align: center;
	font-family: 'Helvetica Neue';
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 20px;
}
h4 {
	font-family: 'Avenir Next';
	font-size: 14px;

}


h5 {
	text-align: center;
	font-family: 'Helvetica Neue';
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 20px;
}

.content {
 	margin-top: 30px;
}


.chart-top-section {
  width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content:center;
    justify-content: center;
    margin-bottom: 21px;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 18px;
    margin-bottom: 18px;
    position: relative;
    pointer-events: all;
}

/*p {
	font-family: Garamond;
	font-size: 16px;
	text-align: left;
	padding-left: 460px;
	padding-right: 460px;
	margin-bottom: 20px;
}*/

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.cells path {
  fill: none;
  pointer-events: all;
}

.cells :hover circle {
  fill: red;
  cursor: pointer;
}

/*.swarm-circle:hover {
    stroke: rgba(0, 0, 0, 0.69); 
    stroke-width: 1.8px; 
}*/

.histogram-chart-toggle-type{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  /* display: none; */
  position: absolute;
  left: 0px;
}

.histogram-chart-toggle-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
    font-family: 'Atlas Grotesk Web';

    -webkit-order:1;
    order: 1;
    position: absolute;
    left: 50px;

    -webkit-justify-content:center;
    justify-content: center;
}


.histogram-chart-toggle-item{
       margin-right: 10px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 14px;
    border: 1px solid rgb(218, 217, 227);
    color: black;
    cursor: pointer;
    /* border: solid 1px rgba(127, 125, 156, 0.75); */
    padding: 0px 7px;
    /* box-shadow: inset 0 1px 2px rgba(0,0,0,0.08); */
    margin-left: -13px;
    background: white;
    text-align: center;
    line-height: 23px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #fff;
    /* height: 28px; */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.top-row-chart-toggle-wrapper{
    right: 0px;
    top: 70px;
    margin: 0 auto;
    width: 80px;
    left: 0px;
    /* -webkit-transform: translate(105px,0px); */
    transform: translate(29px,0px);
    /* display: none; */
  }
  .toggle-selected{
    background: none;
    box-shadow: none;
    color: black;
    border-bottom: 1px solid black;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
 .container {
 	display: flex;
 	max-width: 1000px;
 	margin-top: 18px;
    margin-bottom: 18px;
    position: relative;
    pointer-events: all;
 }

 .front-curve {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.back-curve {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.toggle-selected{
  font-weight: 500;
  background-color: #F5F5F5;
  color: black;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  border-color: #dad9e3;
}

.swarm-axis-tick-text {
    font-family: 'Roboto';
    font-size: 12px;
    dominant-baseline: central;
    font-weight: 500;
}

.swarm-average-text {
    font-family: 'Roboto';
    text-anchor: middle;
    font-size: 12px;
    fill: black;
    /*text-shadow: 0 2px 0 #ffffff, 2px 0 0 #ffffff, 0 -2px 0 #ffffff, -2px 0 0 #ffffff;*/
}

.swarm-average-line {
    stroke: black;
    stroke-width: 1.5px;
    shape-rendering: crispEdges;
}

.swarm-average-text-label {
    fill: #888;
    font-size: 10px;
    fill: #2463f9;
    /*text-shadow: 0 1px 0 #ffffff, 1px 0 0 #ffffff, 0 -1px 0 #ffffff, -1px 0 0 #ffffff;*/
    text-transform: uppercase;
    font-weight: 600;
    pointer-events: none;
}

.swarm-annnotation-line {
    stroke: #d8d8d8;
    stroke-width: 5px;
}

.swarm-annnotation-text {
    text-anchor: end;
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
    dominant-baseline: middle;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    fill: #b3b3b3;
    /* text-shadow: 0 2px 0 #ffffff, 2px 0 0 #ffffff, 0 -2px 0 #ffffff, -2px 0 0 #ffffff; */
    letter-spacing: .2px;
}

.swarm-chart-tool-tip {
    position: absolute;
    font-family: 'Roboto';
    font-size: 14px;
    text-transform: capitalize;
    background: white;
    border: 1px solid rgba(193, 193, 193, 0.8);
    z-index: 1000000000;
    border-radius: 4px;
    text-align: left;
    width: auto;
    font-weight: 600;
    color: #353535;
    visibility: hidden;
    min-width: 120px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    pointer-events: all;
}

.swarm-chart-tool-tip div:last-of-type{
  border-bottom:none;
}

.swarm-chart-tool-tip-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content:center;
  justify-content: center;
  margin: 0 auto;
  width: auto;
  width: 190px;
}

.swarm-chart-tool-tip-label{
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
}

.swarm-chart-race-col .swarm-chart-tool-tip-label {
    border-bottom: 1px solid #ccc;
}

.swarm-chart-tool-tip-company {
    margin-bottom: 5px;
    border-bottom: 1px solid #cdcdcd;
    padding: 0px 25px;
    text-align: center;
    line-height: 26px;
}



.swarm-chart-tool-tip-row{
    margin-left: 69px;
    margin-right: 20px;
    margin-bottom: -5px;
  
}

.swarm-chart-tool-tip-row:first-of-type{
  border-top:1px solid #cccccc;
  padding-top: 2px;
  margin-top: 30px;
}

.swarm-chart-tool-tip-row:last-of-type{

  margin-top: 20px;
  margin-bottom: 5px;
}


.swarm-chart-tool-tip-col {}

.swarm-chart-tool-tip-text {
    width: 37px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    color: black;
}

.swarm-chart-tool-tip-col-label {
    position: absolute;
    top: 41px;
    font-size: 11px;
    color: #808080;
    font-weight: 500;
}


.swarm-chart-tool-tip-row-label {
    font-size: 12px;
    color: #848484;
    font-weight: 400;
    position: absolute;
    left: 2px;
    text-align: right;
    width: 60px;
}

.swarm-chart-tool-tip-row-label span{
  position: absolute;
  top: -13px;
  width: 284px;
  left: 14px;
  /* font-style: italic; */
  font-size: 10px;
  color: #323232;
  font-weight: 600;
  text-align: left;
  text-transform: uppercase;
}


.swarm-image {
    pointer-events: none;
    /* transform: translate(-50%,-50%); */
}

.stepper-container {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content:center;
    justify-content: center;
    margin: 0 auto;
}
.stepper-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
    margin-left: 15px;
    line-height: 23px;
    position: relative;
    /* transform: translate(calc(-32px),0px); */
    -webkit-order:3;
    order: 3;
}

.stepper-toggle-row {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content:center;
    justify-content: center;
    margin-bottom: 21px;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    pointer-events: all;
}

.stepper-item {
    cursor: hand;
    cursor: pointer;
    opacity: 1;
    font-size: 11.5px;
    font-weight: 400;
    position: relative;
    line-height: 17px;
    /* margin-top: 3px; */
    color: #9a9a9a;
    padding-left: 4px;
    text-transform: capitalize;
    /* text-decoration: underline; */
    position: relative;
    border: 1px solid rgba(127, 125, 156, 0.29);
    line-height: 23px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-size: 12px;
    padding: 0 7px;
    margin-left: -13px;
    background: white;
    margin-right: 10px;
    color: black;
}

.stepper-item-selected {
    color: black;
    opacity: 1;
    font-weight: 600;
    text-decoration: none;
    font-weight: 500;
    background-color: #F5F5F5;
    color: black;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    border-color: #dad9e3;
}



.swarm-circle {
    fill: #ffd62c;
    cursor: pointer;
    cursor: hand;
    stroke: #c1a427;
    stroke-width: 1px;
}

.swarm-scatter-rect-gender-line {
    stroke: whitesmoke;
    stroke-width: 21px;
}

.swarm-scatter-x-axis-lines .swarm-axis-line{
  stroke:rgba(0,0,0,.15);
  stroke-dasharray:1px,2px;
  shape-rendering: initial;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.swarm-scatter-y-axis-lines .swarm-axis-line{
  stroke: rgba(0, 0, 0, 0.36);
  stroke-dasharray:1px,2px;
  /* shape-rendering: initial; */
  stroke-linecap: round;
  stroke-linejoin: round;
  /* stroke: #E6E6E6; */
  stroke: rgba(0, 0, 0, 0.36);
  stroke-dasharray: 1px,2px;
  /* shape-rendering: initial; */
  stroke-linecap: round;
  stroke-linejoin: round;
  /* stroke: #E6E6E6; */
}



.scatter-axis-chart-text{
  font-size: 13px;
  font-weight: 600;
  fill: #333;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  dominant-baseline: text-before-edge;
  /* text-transform: uppercase; */
}

.scatter-axis-chart-text-y {
    font-weight: 400;
    font-size: 14px;
    text-shadow: 0 2px 0 #ffffff, 2px 0 0 #ffffff, 0 -2px 0 #ffffff, -2px 0 0 #ffffff;
    dominant-baseline: middle;
}

.swarm-scatter-regression-annotation-text {
    font-family: 'Roboto';
    text-anchor: end;
    font-size: 12px;
    text-shadow: 0 2px 0 #ffffff, 2px 0 0 #ffffff, 0 -2px 0 #ffffff, -2px 0 0 #ffffff;
    pointer-events: none;
}

.swarm-scatter-regression-line {
    stroke: rgba(253, 204, 0, 0.61);
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-linejoin: round;
    pointer-events: none;
}

.swarm-scatter-regression-annotation-line{
  stroke:black;
}

.chart-title {
    font-size: 13px;
    font-family: 'Roboto';
    text-align: center;
    font-weight: 400;
    color: #2f2e2e;
    text-align: left;
    margin: 0 auto;
    /* position: absolute; */
    /* top: 4px; */
    text-align: center;
    font-weight: 500;
    margin-bottom: -16px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .3px;
    /* text-decoration: underline; */
    /* display: inline; */
    /* margin: 0 auto; */
}


