@font-face {
    font-family: 'Roboto';
}


.wrapper {
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}

.head {
	text-align:center;
	width: 1440px;
}
.headline {
	display:inline-block;
	text-align: center;
	width: 750px;

}

h1 {
	font-family: 'Helvetica Neue';
	font-weight: bold;
	font-size: 40px;
	text-align: center;

}

h2 {
	font-family: 'Helvetica Neue';
	color: grey;
	font-size: 20px;
	text-align: center;

}

h3 {
	text-align: center;
	font-family: 'Helvetica Neue';
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 20px;
}
h4 {
	font-family: 'Avenir Next';
	font-size: 14px;

}


h5 {
	text-align: center;
	font-family: 'Helvetica Neue';
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 20px;
}

.content {
 	margin-top: 30px;
}
.article {
	width: 1440px;
	display: inline-block;
	text-align: center;
}


/*p {
	font-family: Garamond;
	font-size: 16px;
	text-align: left;
	padding-left: 460px;
	padding-right: 460px;
	margin-bottom: 20px;
}*/

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.cells path {
  fill: none;
  pointer-events: all;
}

.cells :hover circle {
  fill: red;
}

.histogram-chart-toggle-type{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  /* display: none; */
  position: absolute;
  left: 0px;
}

.histogram-chart-toggle-item{
       margin-right: 10px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 14px;
    border: 1px solid rgb(218, 217, 227);
    color: black;
    cursor: pointer;
    /* border: solid 1px rgba(127, 125, 156, 0.75); */
    padding: 0px 7px;
    /* box-shadow: inset 0 1px 2px rgba(0,0,0,0.08); */
    margin-left: -13px;
    background: white;
    text-align: center;
    line-height: 23px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #fff;
    /* height: 28px; */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.top-row-chart-toggle-wrapper{
    right: 0px;
    top: 70px;
    margin: 0 auto;
    width: 80px;
    left: 0px;
    /* -webkit-transform: translate(105px,0px); */
    transform: translate(29px,0px);
    /* display: none; */
  }
  .toggle-selected{
    background: none;
    box-shadow: none;
    color: black;
    border-bottom: 1px solid black;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
 .container {
 	display: flex;
 	max-width: 1000px;
 	margin-top: 18px;
    margin-bottom: 18px;
    position: relative;
    pointer-events: all;
 }

 .front-curve {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.back-curve {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.toggle-selected{
  font-weight: 500;
  background-color: #F5F5F5;
  color: black;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  border-color: #dad9e3;
}

.swarm-axis-tick-text {
    font-family: 'Roboto';
    font-size: 12px;
    dominant-baseline: central;
    font-weight: 500;
}
